.taskcontainer{
    display: flex;
    flex-direction: row;
    width: 145vh;
    border: 1px solid red;
    margin: 23vh;
    height: auto;
}

.newtask_form{
    display: flex;
    flex-direction: column;
    padding: 4vh;
    margin-left: 61vh;
    border: 1px solid green;
    background: cadetblue;
}

.newtask_form > input {
    padding-bottom: 3vh;
}

.newtask_form > input {
    padding-bottom: 3vh;
}

.newtask_form > button {
    padding-bottom: 3vh;
}
